.about {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1050px;
}

.subAbout {
    position: relative;
    width: 50%;
    z-index: 99;
}

.ImgName {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.name {
    color: #8a8681;
    font-size: 25px;
    position: relative;
    letter-spacing: 3px;

    transform: translate(0, 20px);
}

.specialize {
    font-size: 50px;
    margin-top: 10px;
    background: linear-gradient(to right, #9464f6 10%, #7598cd 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;

    transform: translate(0, 20px);
}

.ImgName img {
    border-radius: 15px;
}

.text{
    font-size: 25px;
    margin-top: 40px;
    color: white;
    line-height: 150%;
    letter-spacing: 2px;

    transform: translate(0, 20px);
}

.avatar{
    transform: translate(0, 20px);
    width: 150px;
    height: 150px;
}

._anim{
    transition: 0.8s;
    opacity: 0;
}

._active0 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s;
}
._active1 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s;
}
._active2 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s;
}
._active3 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s;
}

@media screen and (max-width: 1400px) {
    .text{
        font-size: 20px;
    }
    .specialize{
        font-size: 40px;
    }
    .name{
        font-size: 20px;
    }
    .avatar{
        width: 125px;
        height: 125px;
    }
}
@media screen and (max-width: 1100px) {
    .subAbout{
        width: 55%;
    }
}
@media screen and (max-width: 1000px) {
    .about{
        height: auto;
        margin-bottom: 300px;
    }
    .subAbout {
        width: 80%;
    }
}
@media screen and (max-width: 800px) {
    .subAbout {
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .text{
        font-size: 15px;
    }
    .specialize{
        font-size: 30px;
    }
    .name{
        font-size: 15px;
    }
    .avatar{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 500px) {
    .specialize{
        font-size: 25px;
    }
}
@media screen and (max-width: 400px) {
    .specialize{
        font-size: 20px;
    }
}